@import "theme";

.mat-column-forks_count,
.mat-column-stargazers_count,
.mat-column-open_issues_count {
  width: 4.5em;
  text-align: center;
}

.clickable {
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: map_get($mat-light-theme-background, hover);
  }

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}