@import "theme";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  position: relative;
}

.loading-indicator {
  background-color: mat-color($background, card, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  position: relative;
  overflow: auto;
  
  flex: 1 0 0%;
  margin: 1em;

  table {
    width: 100%;
  }
}

.no-results {
  text-align: center;
}
